<h3><i class="fas fa-book-reader"></i> eNoteBook</h3>
<div class="section">
    <p class="lead">Create public or private notes on any topic</p>
</div>
<div class="divider"></div>
{{!-- <br class="row mt-5"> --}}
  <br>
  <div class="col-md-6 m-auto">
    <div class="text-center">
      
      <p>Create an account or login</p>
      <a href="/auth/register" class="btn btn-primary btn-block"
        >Register</a
      >
      <br>
      <a href="/auth/login" class="btn btn-secondary btn-block">Login</a>
    </div>
  </div>
</div>
Or
<div class="section">
    <a href="/auth/google" class="btn red darken-1">
        <i class="fab fa-google left"></i> Log In With Google
    </a>
</div>